.rentList > .css-wop1k0-MuiDataGrid-footerContainer{
    display: none;
}

.contents >.pagination{
    margin-top: 20px;
}
.contents >.pagination > button{
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: 0px;
    background-color: #dbdbdb; 
    color: black; 
}
.contents >.pagination >.activeButton {
    background-color: #BB2649; 
    color: #ffffff; 
    font-weight: bold;
}