.contentsArea{
    
}

.contentsHeader{
    border: 1px solid cyan;
    height: 300px;
    color : white;
}

.contents{
    /* border: 1px solid red; */
    width: 100%;

}

.btn-group{
    width:95%;
    
}