#Board {
    /* position: absolute; */
    /* position: absolute; */
    width: 100%;
    background: #071a52;
    display: flex;
    padding-top: 0;
    align-items: center;
    padding-top:0;
    /* margin: center; */
}

#Board .background{
    position: relative;
    width: 90%;
    min-height: 800px;
    background-color: white;
    margin: 0 auto;
    justify-content:center;
}

.Board_title{
    position:relative;
    margin: auto;
    width: 78%;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-left: 10px; */
    /* border-bottom: 3px solid rgb(204, 203, 203); */
    animation:title 3s forwards; 
    display: flex;
    justify-content: space-between;
}


#newPost{
    margin-top:auto;
}

#newPost button{
    border:0px;
    border-radius: 5px;
    background-color: #BB2649;
    color: white;
}

@keyframes title {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes title {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


.BoardList{
    margin: 0 auto;
    width: 80%;
    /* max-width: 1000px; */
    max-height: 80%;
    text-align: center;
    overflow: auto;
}

.postList {
    border: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 8px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BoardList .postItem {
    border-bottom: 1px solid #ccc;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.postNumber {
    flex-basis: 10%;
    /* border-right: 1px solid #ccc; */
}

.postTitle {
    flex-basis: 60%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* border-right: 1px solid #ccc; */
    text-decoration: none;
    color: inherit;
}

.postViews{
    /* border-right: 1px solid #ccc; */
    flex-basis: 20%;
}

.postDate {
    flex-basis: 20%;
}

.userName{
    flex-basis: 10%;
    text-align: center;
}

.deleteBtn{
    /* border-left: 1px solid #ccc; */
    width: 10%;
    margin-left: auto;
    padding-left: 10px;
    text-align: center;
    /* align-self: center; */
    /* border: 1px solid red; */
}

.deleteBtn button{
    font-size: 10px;
    margin-left: auto;
    border: 0px;
    background-color: grey;
    border-radius: 3px;
    color: white;
}

/* .postItem Button{
    width: 7%;
} */

.pagination{
    padding:center;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-left: auto;
}

.pagination button{
    margin-left: 5%;
    width: auto;
    height: auto;

}

.pagination > button{
    border-radius: 35%;
    border: 0px;
    background-color: #dbdbdb; 
    color: black; 
}

.pagination >.active {
    background-color: #BB2649; 
    color: #ffffff; 
    font-weight: bold;
}
