#Board {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #071a52;
    display: flex;
    padding-top: 0;
    align-items: center;
    /* margin: center; */
}

#Board .background{
    position: relative;
    width: 90%;
    height: 90%;
    background-color: white;
    margin-left: 5%;
}

.Board_title{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(204, 203, 203);
    animation:title 3s forwards;
}