.Background{
    /* position:absolute; */
    width: 100%;
    min-height: 800px;
    background:#071a52;
    display:flex;
    padding-top:0;
    align-items: center;
    /* margin: center; */
}

.Background .textground{
    /* position:absolute; */
    margin: auto;
    width: 90%;
    height: 800px;
    min-height: 1080px;
    background-color: white;
    margin-left: 5%;
    /* text-align: left; */
    /* display: flex; */
}

.title{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(204, 203, 203);
    animation:title 3s forwards;
}

.title h1{
    animation:titleT 4s forwards;
}

@keyframes title {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes titleT {
    0%{
        transform: translateY(150%);
        opacity: 0;
    }
    30%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.postSub{
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    text-align: left;
    display:flex;
}

.postSub .image{
    width: 50%;
    text-align: center;
}

.postSub .image img{
    width: 75%;
    max-width: 700px;
    height: 500px;
    text-align: center;
    animation:imgmove 1s forwards;
}

@keyframes imgmove {
    from{
        transform: translateX(-100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

.postSub .text{
    width: 50%;
    text-align: center;
}

.postSub .text h5{
    margin-left: 15%;
    width: 75%;
    animation:textmove 1s forwards;
}

@keyframes textmove {
    from{
        transform: translateX(+100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}
