.Header {
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #071a52;
}

.Header > div{
    display: flex;
}

.header_title{
    width: 38%;
    justify-content: center;
}

.Header .header_title img{
    width: 70%;
    cursor: pointer;
}

.Header .header_menu{
    width: 25%;
    cursor: pointer;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
}

.bar{
    width: 30px;
    height: 4px;
    background-color: white;
}


.Header .header_right{
    width: 30%;
    justify-content: end;
    color: white;
}


.Header .header_right .login{
    width: 10%;
}

.Header .header_right .search{
    width: 10%;
    margin-left: 5%;
}

.Header .header_right .calender{
    margin-left:5%;
    width: 10%;
}

.Header .header_right svg{
    width: 100%;
    cursor: pointer;
} 
