#Main{
    position:absolute;
    width: 100%;
    height: 100%;
    background:#071a52;
    display:flex;
    flex-direction: column; /* 자식 div(slide_Header, Board)를 아래로 정렬 */
    padding-top:0;
    align-items: center;
}

#Main .perfome{
    position:absolute;
    margin: auto;
    width: 90%;
    height: 300px;
    text-align: left;
    display:flex;
    border: 1px solid red;
}

.perfome .show{
    width:20%;
    height: 100%;
    margin:0 auto;
    border: 1px solid red;
}

.redButton{
    background-color: #BB2649;
}